<h1>Eat da Burger!</h1>

<section class="container">

  <div class="row newB">
    <div class="col-lg-12 col-md-8 col-sm-12">
      <form class="create-form">
        <h2>Burger Name</h2>
        <div>
          {{!-- <label for="ca">Burger Name:</label> --}}
          <input type="text" id="ca" name="name">
          <button class="add" type="submit">Add Burger</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="eat burgers ">
          <h2>Ready to eat!</h2>
          <ul class="item">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger devoured=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="eaten burgers">
          <h2>Devoured!</h2>
          <ul class="item">
            {{#each burgers}}
            {{#if devoured}}
            <ul>
              {{burger_name}}
            </ul>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>