li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
        
  body {
    background-color: bisque;
  }

  h1 {
  margin: 20px; 
  padding: 10px;
  text-align: center;
  }

  .create-form {
    margin: 10px;
    text-align: center;

  }

  .burgers {
    margin: 10px;
    padding: 20px;
    text-align: center;
    float: left;
    margin-top: 40px;
  }

  .eaten {
    margin: 10px;
    padding: 20px;
    text-align: center;
    float: right;
    margin-top: 40px;

  }

  .add {
    margin: 5px;
    padding: 5px;
    align-self: center;
  }