.bgimg {
  background-image: url(/assets/css/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

ul {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
        
  body {
    color: #ffffff;
    }

  h1 {
  margin: 20px; 
  padding: 10px;
  text-align: center;
  }

  .create-form {
    margin: 10px;
    text-align: center;

  }

  .burgers {
    margin: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }

  .eaten {
    background-color: #4a4a4ab6;
    padding: 10px;
  }

  .add {
    background-color: #000000;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
  }

  .add:hover {
    background-color: #595959;

  }