
.bgimg {
  background-image: url(/assets/css/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
}

ul {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
        

  h1 {
    color: #E36414;
  margin: 20px; 
  padding: 10px;
  text-align: center;
  text-decoration-line: underline;
  }

  .create-form {
    margin: 10px;
    text-align: center;

  }
  .newB {
    margin: 10px;
  }

  /* .eat {

  }

  .eaten {
  }
 */
  .burgers {
    background-color: #4a4a4ab6;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-style: double;
    align-content: center;

  }

  .item {
    margin: 10px;
  }

  .add {
    background-color: #E36414;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
  }

  .change-devoured {
    background-color: #f48846;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
    font-weight: 200;
  }

  .change-devoured:hover {
    background-color: #E36414;
    font-weight: 400;

  }